FareTransaction/src/META-INF/wsdl/localhost_8080/LoginWebService/LoginWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.sessionbean.passenger/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.sessionbean.passenger/" name="LoginWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.sessionbean.passenger/" schemaLocation="http://localhost:8080/LoginWebService/LoginWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getStations">
<part name="parameters" element="tns:getStations"/>
</message>
<message name="getStationsResponse">
<part name="parameters" element="tns:getStationsResponse"/>
</message>
<message name="getConcessionEnd">
<part name="parameters" element="tns:getConcessionEnd"/>
</message>
<message name="getConcessionEndResponse">
<part name="parameters" element="tns:getConcessionEndResponse"/>
</message>
<message name="getAmount">
<part name="parameters" element="tns:getAmount"/>
</message>
<message name="getAmountResponse">
<part name="parameters" element="tns:getAmountResponse"/>
</message>
<message name="isExpired">
<part name="parameters" element="tns:isExpired"/>
</message>
<message name="isExpiredResponse">
<part name="parameters" element="tns:isExpiredResponse"/>
</message>
<message name="getRefundAmt">
<part name="parameters" element="tns:getRefundAmt"/>
</message>
<message name="getRefundAmtResponse">
<part name="parameters" element="tns:getRefundAmtResponse"/>
</message>
<message name="refund">
<part name="parameters" element="tns:refund"/>
</message>
<message name="refundResponse">
<part name="parameters" element="tns:refundResponse"/>
</message>
<message name="createFareTransaction">
<part name="parameters" element="tns:createFareTransaction"/>
</message>
<message name="createFareTransactionResponse">
<part name="parameters" element="tns:createFareTransactionResponse"/>
</message>
<message name="createTransaction">
<part name="parameters" element="tns:createTransaction"/>
</message>
<message name="createTransactionResponse">
<part name="parameters" element="tns:createTransactionResponse"/>
</message>
<message name="addValueTransaction">
<part name="parameters" element="tns:addValueTransaction"/>
</message>
<message name="addValueTransactionResponse">
<part name="parameters" element="tns:addValueTransactionResponse"/>
</message>
<portType name="LoginWebService">
<operation name="login">
<input wsam:Action="http://ws.sessionbean.passenger/LoginWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.sessionbean.passenger/LoginWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getStations">
<input wsam:Action="http://ws.sessionbean.passenger/LoginWebService/getStationsRequest" message="tns:getStations"/>
<output wsam:Action="http://ws.sessionbean.passenger/LoginWebService/getStationsResponse" message="tns:getStationsResponse"/>
</operation>
<operation name="getConcessionEnd">
<input wsam:Action="http://ws.sessionbean.passenger/LoginWebService/getConcessionEndRequest" message="tns:getConcessionEnd"/>
<output wsam:Action="http://ws.sessionbean.passenger/LoginWebService/getConcessionEndResponse" message="tns:getConcessionEndResponse"/>
</operation>
<operation name="getAmount">
<input wsam:Action="http://ws.sessionbean.passenger/LoginWebService/getAmountRequest" message="tns:getAmount"/>
<output wsam:Action="http://ws.sessionbean.passenger/LoginWebService/getAmountResponse" message="tns:getAmountResponse"/>
</operation>
<operation name="isExpired">
<input wsam:Action="http://ws.sessionbean.passenger/LoginWebService/isExpiredRequest" message="tns:isExpired"/>
<output wsam:Action="http://ws.sessionbean.passenger/LoginWebService/isExpiredResponse" message="tns:isExpiredResponse"/>
</operation>
<operation name="getRefundAmt">
<input wsam:Action="http://ws.sessionbean.passenger/LoginWebService/getRefundAmtRequest" message="tns:getRefundAmt"/>
<output wsam:Action="http://ws.sessionbean.passenger/LoginWebService/getRefundAmtResponse" message="tns:getRefundAmtResponse"/>
</operation>
<operation name="refund">
<input wsam:Action="http://ws.sessionbean.passenger/LoginWebService/refundRequest" message="tns:refund"/>
<output wsam:Action="http://ws.sessionbean.passenger/LoginWebService/refundResponse" message="tns:refundResponse"/>
</operation>
<operation name="createFareTransaction">
<input wsam:Action="http://ws.sessionbean.passenger/LoginWebService/createFareTransactionRequest" message="tns:createFareTransaction"/>
<output wsam:Action="http://ws.sessionbean.passenger/LoginWebService/createFareTransactionResponse" message="tns:createFareTransactionResponse"/>
</operation>
<operation name="createTransaction">
<input wsam:Action="http://ws.sessionbean.passenger/LoginWebService/createTransactionRequest" message="tns:createTransaction"/>
<output wsam:Action="http://ws.sessionbean.passenger/LoginWebService/createTransactionResponse" message="tns:createTransactionResponse"/>
</operation>
<operation name="addValueTransaction">
<input wsam:Action="http://ws.sessionbean.passenger/LoginWebService/addValueTransactionRequest" message="tns:addValueTransaction"/>
<output wsam:Action="http://ws.sessionbean.passenger/LoginWebService/addValueTransactionResponse" message="tns:addValueTransactionResponse"/>
</operation>
</portType>
<binding name="LoginWebServicePortBinding" type="tns:LoginWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConcessionEnd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isExpired">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRefundAmt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="refund">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createFareTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addValueTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoginWebService">
<port name="LoginWebServicePort" binding="tns:LoginWebServicePortBinding">
<soap:address location="http://localhost:8080/LoginWebService/LoginWebService"/>
</port>
</service>
</definitions>